/*	reset	*/
*{margin: 0;padding: 0;text-decoration:none}
a, a:focus, object, img{outline:none;border:0}

/*	usual suspects	*/
.none		{display:none;height:0;}
.clear		{clear:both}
.left		{float:left}
.right		{float:right}
.aligncenter{text-align:center}
.alignleft	{text-align:left}
.alignright	{text-align:right}

/*	default	*/
body{text-align:center;font-family:'Roboto', sans-serif;}
header,nav,menu,article,aside,footer,section,details,figcaption,figure,hgroup{display: block}

/* moz hack */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

html {
	background-image: url("/img/arroway_pavement.jpg");
	width:100%;
	
}


body {
	margin:15px;
	background-color: white;
	color: black;
	font-family: Verdana;
	border:3px solid #333;
	overflow:auto;
	display: flow-root;
}

header{
	padding:.5em;
	background: #eee;
}

nav{
	padding: 5px;
/*	background: #aaa; */
	text-align: left;
}

nav li{
/*	float:left;*/
	display:block;
	margin:5px;
}

article{
	width:900px;
	height:auto;
	margin: auto 5px;
	padding:5px;
	border:1px solid #aaa;
}

article p{
	float:left;
}

artilce aside{
	text-align: left;
	float:right;
	width:100px;
}
artilce aside ul{
	float: right;

	text-align: left;
}

artilce aside ul li{
	float:left; 
}
